<h1>New User</h1>
<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br />

  <%= f.label :height %>
  <%= f.text_field :height, :type => "number" %><br />

  <%= f.label :happiness %>
  <%= f.text_field :happiness, :type => "number" %><br />

  <%= f.label :nausea %>
  <%= f.text_field :nausea, :type => "number" %><br />

  <%= f.label :tickets %>
  <%= f.text_field :tickets, :type => "number" %><br />

  <%= f.label :password %>
  <%= f.password_field :password %><br />

  <%= f.label :admin %>
  <%= f.check_box :admin %><br />

  <%= f.submit %>
<% end %>
<%= link_to "Back", users_path %>
